set autoindent
set tabstospaces
set tabsize 4
set constantshow
set linenumbers
set nohelp
set nowrap
set smarthome
#set smooth

## Unbind default bindings
unbind ^L all
unbind ^J all
unbind M-6 all
unbind M-B all
unbind M-D all
unbind M-G all
unbind M-I all
unbind M-C main
unbind M-F main
unbind M-S main
unbind M-H all
unbind M-L all
unbind M-K all
unbind M-M all
unbind M-N all
unbind M-O all
#unbind M-U all
unbind M-P all
unbind M-T all
unbind M-J all
unbind M-V all

## undo/redo
#bind ^J undo all
#bind ^L redo all

## comments
#bind ^/ comment all

## left, up, down, right
bind M-N left all
bind M-K up all
bind M-J down all
bind M-L right all

## home, end
bind M-S home main
bind M-E end main

## new line
bind M-M enter all

## backspace, delete
bind M-H backspace all
bind M-D delete all

## page up, page down
bind ^K pageup all
bind ^J pagedown all

## beginpara, endpara
#bind ^P beginpara main
#bind ^N endpara main

## nextblock, prevblock
#bind M-I prevblock main
#bind M-N nextblock main

## nextword, prevword
bind M-B prevword main
bind M-F nextword main
#bind M-P prevword all
#bind ^L nextword all
#bind ^J prevword all

## chop word left, chop word right
#bind M-H chopwordleft all
#bind M-D chopwordright all

# cut/copy/paste
bind M-O cut all
bind M-I copy all
#bind ^L copy all
bind M-P paste all

## misc
#bind M-P whitespacedisplay main
#bind ^L linter main
