include "/usr/share/nano/*.nanorc"

set nohelp
set nowrap
set tabsize 4
set smarthome
set autoindent
set linenumbers
set tabstospaces
set constantshow

## handle nextword logic
set afterends
set wordchars "A-Za-z0-9=+-/,_"

## Unbind default bindings
unbind ^L all
unbind ^J all

unbind M-C main
unbind M-F main
unbind M-S main

unbind M-6 all
unbind M-B all
unbind M-D all
unbind M-G all
unbind M-I all
unbind M-H all
unbind M-L all
unbind M-K all
unbind M-M all
unbind M-N all
unbind M-O all
unbind M-P all
unbind M-T all
unbind M-J all
unbind M-V all

## undo/redo
#bind ^J undo all
bind M-R redo all

bind ^O insert main
bind ^R replace main

## comments
#bind ^/ comment all

## left, up, down, right
bind M-N left all
bind M-K up all
bind M-J down all
bind M-L right all

## home, end
bind M-S home main
bind M-E end main

## new line
bind M-M enter all

## backspace, delete
bind M-H backspace all
bind M-D delete all

## page up, page down
bind ^K pageup all
bind ^J pagedown all

## beginpara, endpara
#bind ^P beginpara main
#bind ^N endpara main

## nextblock, prevblock
#bind M-I prevblock main
#bind M-N nextblock main

## nextword, prevword
bind M-B prevword main
bind M-F nextword main

## chop word left, chop word right
#bind M-H chopwordleft all
#bind M-D chopwordright all

## cut/copy/paste
bind M-I cut all
bind M-C copy all
bind M-P paste all

## copy to global clipboard
bind ^C "{execute}| xsel -ib {enter}{undo}" main

## misc
bind M-T replace all
bind M-O whitespacedisplay main
